
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <form action="" class="search-box">
                
        <i class="fa fa-search" ></i>
        
        <input type="text" class="search-input" placeholder="Search your daily groceries" name="search" required>
        
        <input type="submit" class="search-btn" value="Search">
    </form>
    <section id="products">
    <!--heading----------->
    <div class="product-heading">
      <h1 >Products</h1>
        <!-- <span>All</span> -->
        
    </div>
    <!--box-container------>
    <div class="product-container">
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/apple.png'>
            <strong>Apple</strong>
            <span class="quantity">1 KG</span>
            <span class="price">2$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart" ></i>
               Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o"></i>
             
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/chili.png'>
            <strong>Chili</strong>
            <span class="quantity">1 KG</span>
            <span class="price">3$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
                 Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o"></i>
             
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/onion.png'>
            <strong>Onion</strong>
            <span class="quantity">1 KG</span>
            <span class="price">1$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart" ></i>
               Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o"></i>
              
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/patato.png'>
            <strong>Patato</strong>
            <span class="quantity">1 KG</span>
            <span class="price">2.2$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart" ></i>
               Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o"></i>
             
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/garlic.png'>
            <strong>Garlic</strong>
            <span class="quantity">1 KG</span>
            <span class="price">3$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
                Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o"></i>
             
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src='/assets/tamato.png'>
            <strong>Tamato</strong>
            <span class="quantity">1 KG</span>
            <span class="price">1.4$</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fa fa-shopping-cart"></i>
                Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="fa fa-heart-o" ></i>
              
            </a>
        </div>
    </div>
</section>