/* registration.component.css */

body {
  background-image: url('../../../assets/object.jpg');
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
}

.registration-container {
  max-width: 350px;
  margin: auto;
  padding: 20px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 45px;
  background-color:color-mix(in srgb, color percentage, color percentage)(255, 255, 255, 0.8); /* Set the background color with transparency */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color:black;
  size: 1%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color:black;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

a {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
