/* order.component.css */

.order-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
    background-image: url('../../../assets/order.jpg'); /* Replace with the actual path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Needed for z-index to work */
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #555;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  p {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  